<%=_.template(require('../parts/head.html'))({
    title: "title",
    menu: {}
}) %>

<body>
    <main class="main _lock">
        <%=_.template(require('../parts/header.html'))() %>
        <div class="about">
            <div class="about__content">
                <div class="about__header">
                    <div class="title title__about title--top">
                        <h1 class="title__text title__text_abaut">Works</h1>
                        <div class="border js-letter"><span></span><span class="js-letter border__letter"></span></div>
                        <p class="title__lead title__lead_about js-letter">Here I will tell you <br> about my progekts.</p>
                    </div>
                    <div class="about__background">
                        <div class="about__background_left"></div>
                        <div class="about__background_right-work"></div>
                    </div>
                </div>
                <div class="work">
                    <div class="work__content">
                        <div class="work__title">PROJECTS</div>
                        <div class="work__wrapper">
                            <div class="work__progects">
                                <div class="work__wrap wrap">
                                    <div class="work__flex flex">
                                        <div data-aos="fade-up-right" type="button" class="project" data-modal="modal_1">
                                            <div class="project__image project__image_aod"></div>
                                        </div>
                                        <div data-aos="fade-up-left" type="button" class="project" data-modal="modal_2">
                                            <div class="project__image project__image_denis"></div>
                                        </div>
                                        <div data-aos="fade-up-right" type="button" class="project" data-modal="modal_3">
                                            <div class="project__image project__image_lux"></div>
                                        </div>
                                        <div data-aos="fade-up-left" type="button" class="project" data-modal="modal_4">
                                            <div class="project__image project__image_hunger"></div>
                                        </div>
                                        <div data-aos="zoom-in" type="button" class="project" data-modal="modal_5">
                                            <div class="project__image project__image_portfolio"></div>
                                        </div>
                                    </div>
                                    <div class="overlay" data-close=""></div>
                                    <div id="modal_1" class="dlg-modal dlg-modal-fade popup">
                                        <span class="closer" data-close=""></span>
                                        <div class="popup__title">О проекте</div>
                                        <div class="popup__text">Простая верстка макета с CSS анимациями</div>
                                        <div class="closer__tehnology">В этом проекте использовальзовались технологии по: HTML, CSS, SCSS, JavaScript, cборщик проектов Gulp</div>
                                        <div class="popup__link">
                                            <a href="#" class="popup__button">Посетить сайт</a>
                                            <a href="#" class="popup__button">Посетить GitHub</a>
                                        </div>
                                    </div>
                                    <div id="modal_2" class="dlg-modal dlg-modal-fade popup">
                                        <span class="closer" data-close=""></span>
                                        <div class="popup__title">О проекте</div>
                                        <div class="popup__text">Простая верстка макета с CSS анимациями</div>
                                        <div class="closer__tehnology">В этом проекте использовальзовались технологии по: HTML, CSS, SCSS, JavaScript, cборщик проектов Gulp</div>
                                        <div class="popup__link">
                                            <a href="#" class="popup__button">Посетить сайт</a>
                                            <a href="#" class="popup__button">Посетить GitHub</a>
                                        </div>
                                    </div>
                                    <div id="modal_3" class="dlg-modal dlg-modal-fade popup">
                                        <span class="closer" data-close=""></span>
                                        <div class="popup__title">О проекте</div>
                                        <div class="popup__text">Простая верстка макета с CSS анимациями</div>
                                        <div class="closer__tehnology">В этом проекте использовальзовались технологии по: HTML, CSS, SCSS, JavaScript, cборщик проектов Gulp</div>
                                        <div class="popup__link">
                                            <a href="#" class="popup__button">Посетить сайт</a>
                                            <a href="#" class="popup__button">Посетить GitHub</a>
                                        </div>
                                    </div>
                                    <div id="modal_4" class="dlg-modal dlg-modal-fade popup">
                                        <span class="closer" data-close=""></span>
                                        <div class="popup__title">О проекте</div>
                                        <div class="popup__text">Простая верстка макета с CSS анимациями</div>
                                        <div class="closer__tehnology">В этом проекте использовальзовались технологии по: HTML, CSS, SCSS, JavaScript, cборщик проектов Gulp</div>
                                        <div class="popup__link">
                                            <a href="#" class="popup__button">Посетить сайт</a>
                                            <a href="#" class="popup__button">Посетить GitHub</a>
                                        </div>
                                    </div>
                                    <div id="modal_5" class="dlg-modal dlg-modal-fade popup">
                                        <span class="closer" data-close=""></span>
                                        <div class="popup__title">О проекте</div>
                                        <div class="popup__text">Простая верстка макета с CSS анимациями</div>
                                        <div class="closer__tehnology">В этом проекте использовальзовались технологии по: HTML, CSS, SCSS, JavaScript, cборщик проектов Gulp</div>
                                        <div class="popup__link">
                                            <a href="#" class="popup__button">Посетить сайт</a>
                                            <a href="#" class="popup__button">Посетить GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%=_.template(require('../parts/footer.html'))() %>
        </div>


    </main>

    </div>



    <script>
        const typeAnimate = 'fade';

    </script>
    <script src="js/app.bundle.js"></script>

</body>


</html>
